:root {
    --clr-blue-dark: #0c1a23;
    --clr-black-almost: #0d161b;
    --clr-white: #fff;
    --clr-green-bright: #00ff0a;
    --clr-green-medium: #2e932e;
    --clr-green-light: #00c200;
    --clr-grey-light: #dadcdd;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */

    --ff-display: 'Luckiest Guy', cursive;
    --ff-sans-heading: "Ubuntu", sans-serif;
    --ff-sans-normal: "Open Sans", sans-serif;
}

footer{
background-color: var(--clr-black-almost);
margin-top: auto;
justify-content: center;
padding: 0.5rem 0;
}

nav ul {
        list-style: none;
        font-size: 1.25rem;
}

a {
    color: var(--clr-green-bright);
  }