:root {
  --clr-blue-dark: #0c1a23;
  --clr-black-almost: #0d161b;
  --clr-white: #fff;
  --clr-green-bright: #00ff0a;
  --clr-green-medium: #2e932e;
  --clr-green-light: #00c200;
  --clr-grey-light: #dadcdd;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --ff-display: "Ubuntu", sans-serif;
  --ff-sans-normal: "Open Sans", sans-serif;

}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap; /* added line */
border: 0;
}

.padding-bottom-2rem {
  padding-bottom: 2rem;
}

/* ------------------- */
/* Typography          */
/* ------------------- */

body {
  font-family: var(--ff-sans-normal);
}

h1, h2, h3, h4, h5 {
  font-family: var(--ff-display);
}

ul {
  list-style: none;
}

/* ------------------------ */
/* Colour Themes and Layout */
/* ------------------------ */

body {
  background-color: var(--clr-blue-dark);
  color: var(--clr-grey-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  color: var(--clr-white);
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: var(--clr-green-bright);
}

header {
  background-color: var(--clr-black-almost);
  padding: 0 2rem;
}

main {
  padding: 0 2rem;
  max-width: 85%;
}

footer{
  background-color: var(--clr-black-almost);
  margin-top: auto;
  justify-content: center;
}