:root {
    --ff-sans: "Roboto", sans-serif;

    --clr-aqua-dark: #23424A;
    --clr-aqua-medium: #136C72;
    --clr-aqua-light: #38CFD9;
    --clr-white: #FFFFFF;

    --fsize-regular: 1.3125rem;
    --fsize-large: 3rem;

    --fweight-regular: 400;
    --fweight-bold: 700;
    --fweight-black: 900;
}

body {
    margin: 0;
    font-family: var(--ff-sans);
}

h1 {
    font-family: var(--ff-sans);
    font-size: var(--fsize-large);
    font-weight: var(--fweight-black);
    line-height: 1.2;
    margin: 0;
}