:root {
    --ff-sans: "Roboto", sans-serif;

    --clr-aqua-dark: #23424A;
    --clr-aqua-medium: #136C72;
    --clr-aqua-light: #38CFD9;
    --clr-white: #FFFFFF;

    --fsize-regular: 1.3125rem;
    --fsize-large: 3rem;

    --fweight-regular: 400;
    --fweight-bold: 700;
    --fweight-black: 900;
}

body {
    margin: 0;
    font-family: var(--ff-sans);
    color: var(--clr-white);
}

main {
    max-width: 50%;
    padding-bottom: 4rem;
}

.container {
    
    background-color: var(--clr-aqua-dark);
    padding-left: 4rem;
    padding-top: 4rem;
    min-height: 50vh;

}

h1 {
    font-family: var(--ff-sans);
    font-size: var(--fsize-large);
    font-weight: var(--fweight-black);
    /* color: var(--clr-white); */
    line-height: 1.2;
    margin: 0;
}

p {
    padding: 1rem 0 2rem 0;
}

.btn {
    background-color: var(--clr-aqua-light);
    border-radius: 50px;
    border-style: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    font-weight: var(--fweight-bold);
}

/* Added to provide spacing between today's challenge and the footer nav. Don't have time today to debug why the nav isn't sticking to the bottom like in other day's pages. */
.section-spacing {
    padding: 5rem 0;
}


